collected_data/
dqn_plasticity_tensorboard/
formatted_data/
logs/
models/
frontend/node_modules/
analysis_plots/
#installer_output/
# Model code and sensitive files
eeg_tool/src/AdaptiveDQN_RLEEGNET.py
eeg_tool/src/__pycache__/
eeg_tool/src/models/
eeg_venv/
#kffifkfk
*.pkl
*.h5
*.zip
EEG_Tool_Deployment/eeg_venv
EEG_Tool_Deployment/build
EEG_Tool_Deployment/NeuroSync.egg-info
# Environment variables
.env
.env.local
.vscode
# Vercel
.vercel
installer_output/
stock_tool/